#body {
	background-image: siteBackground.jpg;
	color: #ffffff;
}
.headingAndPages {
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 200px;
	background-image: headerBackground.jpg;
}
.h1 {
	font-family: Berlin Sans FB;
	text-align: center;
}
.home {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #00aaff;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	font-family: Product Sans Light;
	border: none;
}
.home:hover {
	background-color: #0088ff;
	color: #000000;
}
.myBooks {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	font-family: Product Sans Light;
	border: none;
}
.myBooks:hover {
	background-color: #999999;
	color: #000000;
}
.contactMe {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	font-family: Product Sans Light;
	border: none;
}
.contactMe:hover {
	background-color: #999999;
	color: #000000;
}
.help {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	font-family: Product Sans Light;
	border: none;
}
.help:hover {
	background-color: #999999;
	color: #000000;
}
.buttonsAndStuff {
	margin-left: 50px;
	text-align: center;
	background-color: #ffffff;
}
.body {
	margin-left: 200px;
	margin-right: 200px;
}
.sectionHeading1 {
	margin-top: 100px;
	font-family: Berlin Sans FB;
	text-align: center;
}
.sectionBody1 {
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: Product Sans Light;
	text-align: center;
	font-size: 18px;
}
.logo {
	text-align: center;
}
